body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    border-bottom: 1px solid #DF691A;
    border-left: 1px solid #DF691A;
    border-right: 1px solid #DF691A;
}

.img-details {
    height: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-details {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2.title-details {
    font-size: 40px;
}

.subtitle-details {
    margin-left: auto;
    margin-right: auto;
        width: 480px;
    text-align: center;
}

.jumbotron {
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.content-details {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.text-warning {
    font-style: italic;
    margin-left: 60%;
}

.edit-profile-image {
    margin-left: 17%;
}

body {
    font-family: "Open Sans", helvetica, arial;
}

pre {
    font-family: "Source Code Pro", monospace;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: whiteSmoke;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

h2 {
    font-size: 48px;
}

pre + h2 {
    margin-top: 80px;
}

#container {
    max-width: 620px;
    margin: 0 auto;
    padding-bottom: 80px;
}

#banner-fade,
#banner-slide {
    margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a {
    display: block;
    padding: 10px;
    background: #485563;
    color: #DF691A;
    text-decoration: none;
}

    ul.bjqs-controls.v-centered li a:hover {
        background: #DF691A;
        color: #fff;
    }

ol.bjqs-markers li a {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    margin: 5px;
    text-decoration: none;
}

    ol.bjqs-markers li.active-marker a,
    ol.bjqs-markers li a:hover {
        background: #999;
    }

p.bjqs-caption {
    background: rgba(255,255,255,0.5);
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.profile-image {
    width: 260px;
}

.video-details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.comment-profile-picture {
    width: 100px;
    height: 90px;
    float:left;
    margin-top: -40px;
}

.well {
    width: 700px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
}

.comment-info {
    margin-top: -60px;
    margin-left: 120px;
}

.comment-id-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#form0 {
        margin-left: 220px;
    margin-right: auto;
}

#comment {
    width: 600px;
    height: 100px;
}

.categoriy-title {
        margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.article-list-picture {
    width: 150px;
    height: 110px;
    float:left;
    margin-top: -40px;
}

.article-list-name {
    font-weight: bold;
    font-size: 22px;
}

.article-list {
    width: 800px;
    height: 140px;
}

.article-list:hover {
    background-color: #DF691A;
}

.article-list:hover .article-list-name {
    color: white;
}

.article-list:hover hr {
    border-color: #DF691A;
}

.pagination {
    margin-left: 500px;
}

.pagination a:hover {
    border-color: #DF691A;
}